.u-center-text {text-align: center;}
.u-m-b-small{margin-bottom: 2rem;}
.u-m-b-medium{margin-bottom: 4rem;}
.u-m-b-big{margin-bottom: 8rem;}
.u-m-b-huge{margin-bottom: 10rem;}

.u-m-t-small{margin-top: 2rem;}
.u-m-t-medium{margin-top: 4rem;}
.u-m-t-big{margin-top: 8rem;}
.u-m-t-huge{margin-top: 10rem;}