// COLORS
$primary-color: #81448E;
$primary-color-light: #9B5FA4;
$primary-color-dark: #643572;

$secondary-color-light: #FFB900;
$secondary-color-dark: #FF7730;

$tertiary-color-light: #2998FF;
$tertiary-color-dark: #5643FA;

$gray-light-1: #F7F7F7;

$color-gray-dark: #777;
$color-gray-dark-1: #333;
$color-white: #FFF;
$color-black: #000;

//GRID
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-horizontal:3rem;
$gutter-vertical-small:2rem;
